[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask-cors = "*"
jinja2 = "*"
python-dotenv = "*"
config = "*"
pydantic = "*"
flask-jwt-extended = "*"
bcrypt = "*"
boto3 = "*"
requests = "*"
flask-sqlalchemy = "*"
mysqlclient = "*"
flask = {extras = ["async"], version = "*"}

[dev-packages]

[requires]
python_version = "3.11"
